* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1020px;
  margin: 0 auto;
  padding: 0;
}

.wrapper {
  height: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* Header */
.header {
  width: 100%;
  height: 94px;
  background: #2d303a;
  box-shadow: inset 0px -6px 0px 0px#323746;
}
.top_wrapper {
  display: flex;
  justify-content: space-between;
}
.header_logo h1 {
  margin: 25px 0px 0px 40px;
}
.header_title {
  letter-spacing: -0.5px;
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-family: "Lato";
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.title_span {
  color: #ef6c64;
}
.header_navigation {
  display: flex;
  justify-content: space-between;
  margin: 44px 40px 0px 0px;
  width: 371px;
  height: 10px;
}

.nav_title {
  letter-spacing: -0.5px;
  line-height: 6px;
  font-family: "Lato";
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.list + .list::before {
  content: ".";
  position: relative;
  bottom: 3px;
  right: 10px;
  color: #494e62;
  font-size: 12px;
  font-weight: 700;
}
.nav_title:hover {
  color: #ef6c64;
  transition: 0.3s linear;
}

/* Slider_block */

.slider_section {
  background: #f06c64;
  height: 600px;
  box-shadow: 0px 0px -4px 0px #ea676b;
}
.wrapper_slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
}
.slider_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 799px;
  margin: 0 52px;
}
.left {
  transform: rotate(180deg);
}
.togle {
  width: 16px;
  height: 27px;
  background: url(./assets/arrow.svg);
  opacity: 0.6;
  cursor: pointer;
}
.togle:hover {
  opacity: 1;
  transition: 0.4s linear;
}

/* services */

.wrapper_services {
  margin: 0 40px;
}
.services_section {
  width: 100%;
  height: 495px;
  background: #f2f2f2;
}

.services_title {
  letter-spacing: -0.5px;
  padding-top: 67px;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  line-height: 18px;
}

.services_text {
  letter-spacing: -0.5px;
  padding-top: 28px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
}

/* services_card */

.services_block {
  height: 250px;
  max-width: 959px;
  width: 100%;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  padding-top: 35px;
}

.services_card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-basis: 300px;
  padding: 10px;
}

.img_services {
  margin-right: 20px;
}

.atricle_h {
  letter-spacing: -0.5px;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin-bottom: 18px;
}

.article_p {
  letter-spacing: -0.5px;
  max-height: 66px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

/* Gallery_section */

.gallery {
  height: 866px;
  width: 100%;
  background: #2d303a;
}

.wrapper_gallery {
  margin: 0 40px;
}

.gallery_title {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  padding-top: 67px;
}

.gallery_p {
  max-width: 940px;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  margin: 32px 0 20px;
}
.gallery_ul {
  display: flex;
  align-items: center;
}

/* label radio btn */

.gallery_list {
  display: inline-block;
}
.label_togle {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: justify;
  cursor: pointer;
  max-width: 57px;
  width: 100%;
  height: 22px;
  border: 1px solid #666d89;
  border-radius: 5px;
  background-color: #0f0f0f;
  cursor: pointer;
  padding: 2px 6px;
}
.gallery_list + .gallery_list {
  margin-left: 10px;
}
.hidden {
  display: none;
}
.gallery_list input[type="radio"]:checked + .label_togle {
  color: #dedede;
  border-color: #dedede;
}

.label_togle:hover {
  border-color: #dedede;
  color: #dedede;
  transition: 0.3s linear;
}

/* gallery block */

.gallery_blocks {
  max-width: 940px;
  width: 100%;
  height: 603px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 18px 0 65px;
}

.gallery_block {
  background: #dedede;
  width: 220px;
  height: 187px;
  cursor: pointer;
}

.gallery_block:hover {
  opacity: 0.4;
  transition: 0.3s linear;
}
/* About_block */

.about {
  max-width: 1020px;
  width: 100%;
  height: 100%;
}

.wrapper_about {
  margin: 0 40px;
}
.about_title {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  margin-top: 66px;
}

.about_p {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  margin-top: 33px;
}

/* Cards_block */
.about_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  margin: 49px 0 73px;
}

.about_card {
  max-width: 300px;
  width: 100%;
  height: 100%;
}
.card_title {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  margin-top: 17px;
}
.card_p {
  display: inline-block;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  margin-top: 18px;
}

.social_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
}
.social_block {
  max-width: 150px;
  width: 100%;
}
.social_a {
  background: red;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #69708b;
}

.fb {background: url(./assets/media/facebook.svg) center no-repeat;
  opacity: .5;
  transition: .3s linear;
}

.google {background: url(./assets/media/google+.svg) center no-repeat;
  opacity: .5;
  transition: .3s linear;
}

.tw {background: url(./assets/media/twitter.svg) center no-repeat;
  opacity: .5;
  transition: .3s linear;
}

.in {background: url(./assets/media/linkedin.svg) center no-repeat;
  opacity: .5;
  transition: .3s linear;
}

.fb:hover {
  opacity: 1;
}

.google:hover {
  opacity: 1;
}

.tw:hover {
  opacity: 1;
}

.in:hover {
  opacity: 1;
}
