* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

*::before,
*::after {
  padding: 0;
  margin: 0;
}
body {
  margin: 0 auto;
  font-family: "Lato", Verdana, sans-serif;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* Header 
  ============*/
.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  height: 89px;
  background: #2d303a;
  border-bottom: 6px solid #323746;
}
.top_wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_title a {
  color: #ffffff;
}
.header_title {
  word-spacing: -6px;
  letter-spacing: -0.1px;
  font-size: 25px;
  line-height: 6px;
  font-weight: 700;
  text-align: justify;
  text-transform: uppercase;
}

.title_span {
  color: #ef6c64;
}
.header_navigation {
  display: flex;
  justify-content: space-between;
  width: 371px;
}

.nav_title {
  word-spacing: -0.05em;
  letter-spacing: -0.5px;
  line-height: 6px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.list + .list::before {
  content: ".";
  position: relative;
  bottom: 3px;
  right: 10px;
  color: #494e62;
  font-size: 12px;
  font-weight: 700;
}
.nav_title:hover {
  color: #ef6c64;
  transition: 0.3s linear;
}

.nav_title {
  opacity: 0.6;
}
.activeList {
  opacity: 1;
}

/* Slider_block */
main {
  padding-top: 89px;
}
.slider {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.slider_section {
  position: relative;
  background: #f06c64;
  height: 597px;
  border-bottom: 6px solid #ea676b;
  transition: 0.5s linear;
}

.phone_opacity {
  opacity: 0.5;
}
.wrapper_slider {
  overflow: hidden;
  width: 100%;
}
.slider_blocks {
  display: none;
  height: 546px;
  position: relative;
  animation: 0.5s ease-in-out;
}
.vertical {
  margin-right: 73px;
}
.active,
.next {
  display: block;
}

.slider_item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.next {
  position: absolute;
  top: 0;
  width: 100%;
}

.arrow {
  position: absolute;
  background: url(./assets/arrow.svg);
  width: 16px;
  height: 27px;
  top: 40%;
  right: 5%;
}
.arrow.left {
  left: 5%;
  transform: rotate(180deg);
}
.togle {
  opacity: 0.6;
  cursor: pointer;
}
.togle:hover {
  opacity: 1;
  transition: 0.4s linear;
}
.to-left {
  animation-name: left;
}
.to-right {
  animation-name: right;
  animation-direction: reverse;
}
.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}
/* Темный экран */
/* ============= */

.screen {
  position: absolute;
  background: #000000;
}
@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
/* services 
  =============*/

.services_section {
  width: 100%;
  height: 494px;
  background: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services_title {
  word-spacing: -0.05px;
  padding-top: 67px;
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: justify;
  line-height: 18px;
}

.services_text {
  overflow: hidden;
  word-spacing: -0.01px;
  padding-top: 28px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  text-align: justify;
}

/* services_card 
  ==================*/

.services_block {
  margin: 35px 0 46px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.services_card {
  display: flex;
  align-items: flex-start;
  width: 300px;
  height: 100%;
  padding: 10px;
}
.img_services {
  margin-right: 20px;
}
.article_text {
  width: 220px;
}
.atricle_h {
  letter-spacing: 0.5px;
  word-spacing: -2px;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: justify;
  margin-bottom: 18px;
}

.article_p {
  overflow: hidden;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
  text-align: justify;
  word-spacing: -0.5px;
}

.gallery_section {
  height: 864px;
  width: 100%;
  background: #2d303a;
  border-bottom: 6px solid #323746;
}

.gallery_title {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: justify;
  padding-top: 67px;
  margin-bottom: 26px;
  letter-spacing: -0.5px;
}

.gallery_p {
  overflow: hidden;
  max-width: 682px;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  text-align: justify;
  margin-bottom: 15px;
  letter-spacing: -0.5px;
}

/* label radio btn 
====================*/
.gallery_ul {
  display: flex;
  align-items: center;
  width: 297px;
}

.gallery_list {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
  text-align: justify;
  border: 1px solid #666d89;
  border-radius: 5px;
  background-color: #2d303a;
  cursor: pointer;
  padding: 3px 6px;
  letter-spacing: -0.5px;
}
.gallery_list + .gallery_list {
  margin-left: 10px;
}

.gallery_list:hover {
  border-color: #dedede;
  color: #dedede;
  transition: 0.3s linear;
}

.choosen {
  color: #dedede;
  border-color: #dedede;
}
/* gallery block
================== */

.gallery_blocks {
  max-width: 920px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 18px 0 65px;
  width: 100%;
}
.gallery_block {
  width: 220px;
  height: 187px;
  cursor: pointer;
  margin-bottom: 10px;
}
.gallery_block img {
  padding: 0;
}

.highlight {
  transition: 0.3s linear;
  outline: 5px solid #f06c64;
}

/* About_block 
  ===============*/

.about_section {
  width: 100%;
  background: #f2f2f2;
  border-bottom: 6px solid #fff;
}

.about_title {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  padding-top: 66px;
  letter-spacing: -0.5px;
}

.about_p {
  width: 100%;
  max-width: 936px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-weight: 300;
  margin-top: 27px;
  letter-spacing: -0.5px;
}

/* Cards_block */
.about_cards {
  display: flex;
  align-items: center;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 45px 0 40px;
}

.about_card {
  width: 300px;
}
.card_title {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  letter-spacing: -0.5px;
  font-weight: 900;
  margin-top: 12px;
}
.card_p {
  overflow: hidden;
  width: 300px;
  height: 55px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-weight: 400;
  margin-top: 10px;
  letter-spacing: -0.5px;
  text-align: justify;
}

.social_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 28px;
}
.social_block {
  width: 150px;
}
.social_a {
  background: red;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #69708b;
}

.fb {
  background: url(./assets/media/facebook.svg) center no-repeat;
  opacity: 0.5;
  transition: 0.3s linear;
}

.google {
  background: url(./assets/media/google+.svg) center no-repeat;
  opacity: 0.5;
  transition: 0.3s linear;
}

.tw {
  background: url(./assets/media/twitter.svg) center no-repeat;
  opacity: 0.5;
  transition: 0.3s linear;
}

.in {
  background: url(./assets/media/linkedin.svg) center no-repeat;
  opacity: 0.5;
  transition: 0.3s linear;
}

.fb:hover {
  opacity: 1;
}

.google:hover {
  opacity: 1;
}

.tw:hover {
  opacity: 1;
}

.in:hover {
  opacity: 1;
}
/* Quote_section
================= */
.quote_section {
  background: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.quote_title {
  font-size: 30px;
  line-height: 18px;
  color: #f0d8d9;
  font-weight: 900;

  padding-top: 67px;
  letter-spacing: -0.5px;
}

.quote_text {
  width: 100%;
  overflow: hidden;
  max-width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-weight: 300;
  margin-top: 29px;
  margin-bottom: 48px;
  letter-spacing: -0.5px;
}

.quote_information {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 940px;
  padding-bottom: 67px;
}
/* Quote_form
  ================= */
.information_form {
  position: relative;
  width: 620px;
}
.information_fieldset {
  border: none;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
}

.information_input {
  width: 100%;
  height: 38px;
  padding: 8px 15px;
  margin-bottom: 16px;
  background: #d6564f;
  border: 0;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-weight: 400;
  text-align: justify;
  outline: none;
  border-radius: 5px;
  letter-spacing: -0.5px;
}

.information_input::placeholder {
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.5px;
}
.information_textarea {
  width: 100%;
  height: 202px;
  background-color: #d6564f;
  border-radius: 5px;
  resize: none;
  border: 0;
  padding: 15px 13px;
  outline: none;
  font-size: 12px;
  line-height: 22px;
  color: #f48c8f;
  font-weight: 400;
  text-align: justify;
  letter-spacing: -0.5px;
}

.information_textarea::placeholder {
  font-size: 12px;
  color: #f48c8f;
  text-align: justify;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.5px;
}
.button {
  margin-top: 14px;
  width: 136px;
  padding-top: 11px;
  padding-bottom: 12px;
  background: #fbc65f;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #886a30;
}
.message {
  background: rgb(21, 153, 113);
}

/* Quote_contact
  ================= */
.informtaion_contact {
  width: 300px;
}

.contact_title {
  font-size: 18px;
  line-height: 18px;
  color: #f0d8d9;
  font-weight: 900;
  text-align: justify;
  margin-bottom: 18px;
}
.contact_article {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  max-width: 300px;
  width: 100%;
  height: 175px;
}
.contact_text {
  max-width: 301px;
  width: 100%;
  height: 78px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-weight: 400;
  text-align: justify;
}

.contact_item {
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  font-weight: 400;
  text-align: justify;
}
.contact_item {
  position: relative;
  padding-left: 23px;
}

.contact_adress:before {
  position: absolute;
  content: " ";
  display: inline-block;
  background: #f06c64 url(./assets/icon/location.png) left no-repeat;
  background-size: contain;
  width: 7px;
  height: 11px;
  left: 2px;
  bottom: 7px;
}

.contact_email:before {
  position: absolute;
  content: " ";
  display: inline-block;
  background: #f06c64 url(./assets/icon/mail.png) left no-repeat;
  background-size: contain;
  width: 13px;
  height: 8px;
  left: 0;
  bottom: 7px;
}

.contact_phone:before {
  position: absolute;
  content: " ";
  display: inline-block;
  background: #f06c64 url(./assets/icon/phone.png) left no-repeat;
  background-size: contain;
  width: 11px;
  height: 11px;
  left: 0;
  bottom: 7px;
}

/* Footer
  ============== */

.footer {
  background: #2d303a;
}

.footer_copy {
  margin-left: 2px;
}

.footer_p {
  font-size: 12px;
  line-height: 6px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: -0.1px;
}
.footer_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}
.footer_media {
  display: flex;
}
.media_item {
  opacity: 0.7;
}
.media_item + .media_item {
  margin-left: 8px;
}

.media_item:hover {
  opacity: 1;
  transition: 0.7s linear;
}

@media all and (max-width: 1019px) {
  .wrapper {
    width: 100%;
    max-width: 768px;
  }

  /* Slider_block 
  =================*/
  main {
    padding-top: 89px;
  }

  .slider_section {
    width: 100%;
    height: 450px;
  }
  .phone_opacity {
    max-width: 140px;
    width: 100%;
  }
  .slider_blocks {
    max-height: 350px;
    height: 100%;
    padding-top: 0;
  }
  .vertical_phone {
    max-width: 162px;
    width: 100%;
    height: 100%;
  }
  .vertical {
    margin-right: 54px;
  }
  .horizontal_phone {
    max-width: 344px;
    width: 100%;
    height: 100%;
  }

  /* Services 
  =============*/

  .services_section {
    height: 100%;
  }

  .services_title {
    padding-top: 47px;
  }

  .services_text {
    margin-top: 18px;
    max-width: 687px;
    width: 100%;
    height: 100%;
  }

  /* services_card 
  ==================*/

  .services_block {
    max-width: 688px;
    width: 100%;
    margin-top: 28px;
    height: 100%;
  }
  .services_card {
    max-width: 300px;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
  }
  .article_text {
    max-width: 220px;
    width: 100%;
  }
  /* Gallery
=========== */
  .gallery_section {
    width: 100%;
    height: 100%;
  }

  .gallery_title {
    padding-top: 59px;
    margin-bottom: 14px;
  }

  .gallery_p {
    max-width: 695px;
    width: 100%;
    margin-bottom: 12px;
  }

  /* label radio btn 
====================*/
  .gallery_ul {
    max-width: 297px;
    width: 100%;
  }

  /* Gallery blocks
================== */

  .gallery_blocks {
    width: 100%;
    margin: 28px 0 65px;
  }
  .gallery_block {
    max-width: 217px;
    width: 100%;
  }

  /* About_block 
  ===============*/

  .about_section {
    height: 100%;
  }
  .wrapper_about {
    width: 100%;
    max-width: 768px;
  }
  .about_title {
    padding-top: 52px;
  }

  .about_p {
    width: 100%;
    margin-top: 14px;
    height: 100%;
  }

  /* Cards_block */

  .card_art {
    margin-top: 12px;
  }
  .about_card {
    max-width: 219px;
    width: 100%;
  }

  .about_card img {
    max-width: 219px;
    width: 100%;
  }
  .card_p {
    height: 100%;
    margin-top: 5px;
  }

  .social_block {
    margin-top: 5px;
  }
  .social_block {
    max-width: 150px;
    width: 100%;
  } */

  /* Quote_section
================= */

  .quote_title {
    padding-top: 53px;
  }

  .quote_text {
    max-width: 689px;
    width: 100%;
    height: 100%;
    margin-top: 14px;
    margin-bottom: 19px;
  }

  /* Quote_form
  ================= */
  .information_form {
    width: 100%;
    max-width: 442px;
  }

  /* Quote_contact
  ================= */
  .informtaion_contact {
    width: 301px;
  }

  /* Footer
  ============== */

  .footer_section {
    padding: 30px 0;
  }
}
